// reset
body, ul, li, h1, a {
	margin:0;
	padding:0;
	list-style:none;
	font-family: sans-serif;
	text-decoration: none;
}
* {
	box-sizing:border-box;
}

header {
	background: #333;
	padding:10px;
	overflow:hidden;
	text-align:center;
	@media only screen and (min-width: 480px) {
		text-align:right;
	}
	ul {
		list-style:none;
		padding-top:8px;
	}
	li {
		display:inline;
		padding:5px;
		
	}
	a {
		color:#fff;
		text-decoration: none;
	}
	
	img {
		height:30px;
		@media only screen and (min-width: 480px) {
			float:left;
		}
	}
}

h1 {
	padding-top:200px;
	padding-bottom:50px;
	background:no-repeat center center url(https://res.cloudinary.com/spotlightuk/image/fetch/w_2048,c_limit/https://spotlight-cmsmedia.s3-eu-west-1.amazonaws.com/media/1192/opened-space.png) ;
	background-size:cover;
	text-align:center;
	color:#fff;
	font-size: 40px;
	font-family: Montserrat;
	font-weight: 800;
	line-height: 1;
	@media only screen and (min-width: 480px) {
		font-size: 70px;
	}
}

footer {
	background: #333;
	color:#fff;
	padding:50px;
}

.centered {
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	@media only screen and (min-width: 480px) {
		max-width:600px;
	}
	@media only screen and (min-width: 768px) {
		max-width:800px;
	}
}

.articleList {
	display: flex;
	flex-wrap: wrap;
	margin-bottom:20px;
	margin-left: -5px;
	margin-right: -5px;

	li {
		width:100%;
		padding:5px;
		display: flex;
		flex-grow: 1;
		word-break: break-word;
		@media only screen and (min-width: 480px) {
			width:50%;
		}
		@media only screen and (min-width: 768px) {
			width:33%;
		}
	}
	img {
		width:100%;
	}
	
	.articleListItem {
		display:block;
		border: 1px solid #dadada;
		text-decoration:none;
		color:inherit;
		position: relative;
		.link-cover {
			&:after {
				content: '';
			    position: absolute;
			    left: 0;
			    top: 0;
			    right: 0;
			    bottom: 0;
			}
		}
	}
	.section {
		padding-bottom:5px;
	}
	.articleInfo {
		padding:15px;
		.category {
			position: relative;
			z-index: 1;
			a {
				color:#ea5d5a;
			}
			&:hover{
				text-decoration:underline;
			}
		}
		.title {
			font-size:20px;
		}
	}
}